<launch>
<arg name="name" default="freicar_X"/>

<include file="$(find freicar_launch)/launch/rs_d435_and_t265.launch" >
<arg name="camera1" value="$(arg name)/t265" />
<arg name="camera2" value="$(arg name)/d435" />
</include>

<include file="$(find freicar_launch)/launch/zed_no_tf.launch" ns="$(arg name)">
<arg name="camera_name" value="$(arg name)/zed" />
<arg name="node_name" value="zed" />
<arg name="base_frame" value="$(arg name)/zed_camera" />
</include>

<node name="dynset1" pkg="dynamic_reconfigure" type="dynparam" args="set /d435/rgb_camera enable_auto_exposure False" launch-prefix="bash -c 'sleep 10.0; $0 $@' "/>
<node name="dynset2" pkg="dynamic_reconfigure" type="dynparam" args="set /d435/rgb_camera exposure 10" launch-prefix="bash -c 'sleep 11.0; $0 $@' "/>
<node name="dynset6" pkg="dynamic_reconfigure" type="dynparam" args="set /d435/rgb_camera gain 100" launch-prefix="bash -c 'sleep 12.0; $0 $@' "/>
<node name="dynset7" pkg="dynamic_reconfigure" type="dynparam" args="set /d435/stereo_module visual_preset 4" launch-prefix="bash -c 'sleep 13.0; $0 $@' "/>

<!--<node name="dynset3" pkg="dynamic_reconfigure" type="dynparam" args="set /zed_node auto_exposure_gain False" launch-prefix="bash -c 'sleep 20.0; $0 $@' " output="screen"/>
<node name="dynset4" pkg="dynamic_reconfigure" type="dynparam" args="set /zed_node exposure 4" launch-prefix="bash -c 'sleep 25.0; $0 $@' " output="screen"/>
<node name="dynset5" pkg="dynamic_reconfigure" type="dynparam" args="set /zed_node auto_exposure_gain True" launch-prefix="bash -c 'sleep 27.0; $0 $@' " output="screen"/>
<node name="dynset6" pkg="dynamic_reconfigure" type="dynparam" args="set /zed_node auto_exposure_gain False" launch-prefix="bash -c 'sleep 30.0; $0 $@' " output="screen"/>-->


</launch>
